/* ---------------------------------
 *    Article Summary and Content
 * --------------------------------- */
$article-font-size ?= 1.1rem
$accent ?= #4caf50
$red ?= #ff5722

.original 
    background-color: rgba($accent, .5)


.reprint 
    background-color: rgba($red, .5)


.translation 
    background-color: rgba($primary, .5)

article
    &.media
        .media-content
            color: $text-light
            display: flex
            align-items: center

            .title
                margin-left: .5rem
                line-height: inherit

    &.article
        padding: 1rem 2rem
        
        .article-type
            position: absolute;
            top: -18px;
            left: -32px;
            transform: rotate(-45deg);
            width: 6rem;
            height: 4rem;
            line-height: 5.8rem;
            text-align: center;
            text-transform: uppercase;
            transform-origin: center;
            color: #fff;
            font-weight: 700;
            font-size: 12.432px;

        .title
            text-align: center
            margin-top: 1.5rem
            font-weight: bold

        .article-meta, .article-tags
            color: $text-light

        .article-more
            @extend .button.is-light

        .content
            word-wrap: break-word
            font-size: $article-font-size

            h1, h2, h3, h4, h5 
                font-weight: 600

            h1
                font-size: 1.75em

            h2
                font-size: 1.5em

            h3
                font-size: 1.25em

            h4
                font-size: 1.125em

            h5
                font-size: 1em

            pre
                font-size: .85em

            code
                padding: 0
                background: transparent
                overflow-wrap: break-word

            img 
                border: $sm-gap solid $module-hover-bg
                max-width: 80%
                margin: 0 auto

            blockquote
                &.pullquote
                    float: right
                    max-width: 50%
                    font-size: 1.15rem
                    position: relative

                footer
                    strong + cite
                        margin-left: .5em
            
            li
                padding: .1rem
                &:hover
                    background-color: $module-hover-bg
                
            
            .message.message-immersive
                border-radius: 0
                margin: 0 0-($card-content-padding) $card-content-padding 0-($card-content-padding)

                .message-body
                    border: none
            
            
        .article-post-copyright 
            font-size: 1rem;
            letter-spacing: 0.02rem;
            word-break: break-all;
            margin: 1.5rem 0 1.5rem 0;
            padding: 1rem 1rem;
            border-left: 3px solid #FF1700;
            background-color: #F9F9F9;


.article-cover
    background-color: #fff
    margin-bottom: .75rem

    .article-meta
        overflow-x: auto
        margin-bottom: .5rem
    
    &:hover
        background-color: $module-hover-bg

        .article-type  
            opacity: 1 !important
        
        .thumb-img 
            opacity: .95 !important
            transform: scale(1.05, 1.05)

    .content
        $height ?= 10rem
        $padding ?= $sm-gap
        $content-height ?= $height - ($padding * 2)
        display: flex
        overflow: hidden
        height: $height
        padding: $padding

        .thumb 
            width: 12em;
            height: $content-height;
            overflow: hidden;
            position: relative;
            margin-right: 1rem

            .article-type 
                position: absolute;
                left: 0;
                top: 0;
                height: 2.1rem;
                line-height: 2.1rem;
                z-index: 1;
                padding: 0 $sm-gap;
                border-bottom-right-radius: 1px;
                opacity: .4;
                font-size: 12.4px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;

            .thumb-img 
                min-width: 100%
                width: calc(100% + 3px)
                max-width: calc(100% + 3px)
                height: auto
                min-height: $content-height
                border-color: transparent
                background-color: $module-hover-bg
                opacity: 1
                object-fit: cover
                transition: transform .1s,opacity .1s
            

        .content-body {
            width: 28.5em;
            height: $content-height;

            .content-title {
                margin-top: 3px;
                margin-bottom: $sm-gap;
                font-weight: bold;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    margin-left: 0;
                    color: #555;
                }
            }

            .description {
                height: 5rem;
                margin: 0;
                margin-bottom: $xs-gap;
                line-height: 1.8em;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1rem;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .meta {
                height: 2em;
                line-height: 2em;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                overflow: hidden;
                font-size: .8rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-wrap: normal;

                .date {
                    text-transform: uppercase;
                }

                .views {
                    min-width: 4rem;
                }

                .likes {

                    .liked {
                    color: $red;
                    }
                }

                .likes,
                .comments {
                    min-width: 3em;
                }

                .date,
                .views,
                .comments,
                .likes,
                .tags,
                .categories {

                    .fa {
                        margin-right: $xs-gap
                    }
                }

                .tags,
                .categories {

                    a {
                    text-transform: capitalize;
                    margin-right: $sm-gap;
                    }
                }

                .tags {
                    margin-right: 0;
                }
                }
            }


+mobile()
       .thumb 
          display: none

       .content {
        height: auto;
        padding: $sm-gap;

         .content-body {
          width: 100%;
          height: auto;

           .description {
            height: auto;
            margin-bottom: .5em;
          }

           .meta {

             .date,
             .views,
             .comments,
             .likes,
             .tags,
             .categories {
              margin: 0;
            }
          }
        }
      }



.rtl
    direction: rtl

    .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: .75rem
                margin-right: 0

.thumbnail
    object-fit: cover
    width: 100% !important
    height: 100% !important

// Overflow table
.table-overflow
    overflow-x: auto

    table
        width: auto !important

        th
            word-break: keep-all

// Video container
.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%





    
