bulma-stylus-root = '../../../../node_modules/bulma-stylus/stylus'

/* ---------------------------------
 *   Override Bulma CSS Framework
 * --------------------------------- */
$body-size ?= 14px
$body-background-color ?= #f4f5f5

$family-sans-serif ?= Ubuntu, Roboto, 'Open Sans', 'Microsoft YaHei', sans-serif
$family-code ?= 'Source Code Pro', monospace, 'Microsoft YaHei'

$primary ?= $blue
$custom-colors ?= {
    grey-lightest: {
        '1': $grey-lightest
        '2': $grey-darker
    }
}

$navbar-item-active-color ?= $primary
$footer-background-color ?= $scheme-main

$radius = 2px
$gap ?= 64px
$tablet ?= 769px
$desktop ?= 1024px
$widescreen ?= 1216px
$fullhd ?= 1408px

$sm-gap ?= .618rem
$xs-gap ?= $sm-gap/2

$navbar-height ?= 58px

$shadow ?= 0 4px 10px rgba(0, 0, 0, 0.05)

$title-weight ?= $weight-normal

$control-height ?= 2.25em
$button-padding-vertical ?= calc(0.375em - 1px)

$card-radius ?= $radius
$card-media-margin ?= 0.75rem
$card-shadow ?= $shadow, 0 0 1px rgba(0, 0, 0, 0.1)

$content-heading-weight ?= $weight-normal

$module-hover-bg ?= rgba(197, 197, 197, 0.4)

$logo-height ?= 1.75rem

// FIXME: https://github.com/groenroos/bulma-stylus/issues/11
@import bulma-stylus-root + '/utilities/initial-variables'
@import bulma-stylus-root + '/utilities/functions'
@import bulma-stylus-root + '/utilities/derived-variables'

$colors = merge($colors, $custom-colors)

@import bulma-stylus-root + '/utilities/animations'
@import bulma-stylus-root + '/utilities/mixins'
@import bulma-stylus-root + '/utilities/controls'
@import bulma-stylus-root + '/base/_all'
@import bulma-stylus-root + '/components/_all'
@import bulma-stylus-root + '/elements/_all'
@import bulma-stylus-root + '/form/_all'
@import bulma-stylus-root + '/grid/_all'
@import bulma-stylus-root + '/layout/_all'

$night-color ?= rgba(0,0,0,0.9)
$night-bg-color ?= #202124
$night-color-hover ?= #7a7a7a
$night-link ?= #3273dc

html
    height: 100%
    -webkit-text-size-adjust: 100%
    -moz-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

body
    min-height: 100%
    display: flex
    flex-direction: column
    background: $body-background-color
    position: relative
    padding-top: $navbar-height
    -webkit-font-smoothing: antialiased;
    // todo
    // -webkit-transition: color .6s,background-color .6s;
    // transition: color .6s,background-color .6s;

body > .section
    flex-grow: 1
    padding: 1.5rem;

// 滚动条
::-webkit-scrollbar {
  width: $sm-gap;
  height: $sm-gap;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, 0.4);
  transition: background-color .1s;

  &:hover {
    background-color: rgba(95, 95, 95, 0.7);
  }
}

.column
    padding: .375rem
