/* ---------------------------------
 *  Pagination and Post Navigation
 * --------------------------------- */
$pagination-box-shadow ?= $card-shadow
$pagination-background-color ?= $button-background-color
$post-navigation-fg ?= $grey

.pagination
    .pagination-link,
    .pagination-ellipsis,
    .pagination-previous,
    .pagination-next
        a
            color: $pagination-color
    .pagination-link,
    .pagination-previous,
    .pagination-next
        border: none
        background: $pagination-background-color
        box-shadow: $pagination-box-shadow
    .pagination-link.is-current
        background: $pagination-current-background-color

    // 页码元素 hover 样式
    .pagination-link:not(.is-current):hover
        color $pagination-current-background-color
    // 上下页按钮 hover 样式
    .pagination-previous:hover,.pagination-next:hover
        a
            color $pagination-current-background-color

.post-navigation
    color: $post-navigation-fg
    display: flex
    font-weight: bold
    .level-start, .level-end
        max-width: 50%
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    .level-item
        margin-bottom: 0
        display: inline
    
